body {

    margin: 0;
    flex-direction: column;

}

header {

    padding: 50px;
    background-color: rgb(175, 31, 31);
    text-align: right;
    padding-right: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {

    width: 5%;
    display: flex;
    justify-content: flex-start;

}

a {

    text-decoration: none;
    color: black;
    padding: 15px;
    font-size: 18px;


}

a:hover {

    color: rgb(208, 221, 23);;
    transition: ease-in-out;

}

.banner-principal {

    display: flex;
    justify-content: center;

}

.banner {

    width: 50%;

}

.banner:hover {

    border: 2px solid rgb(208, 221, 23);

}

.camisa {

    width: 50%;

}

.camisa:hover {

    border: 2px solid rgb(208, 221, 23);

}

.oferta {

    display: flex;
    align-items: center;
    background-color: red;
    padding-left: 15px;

}

.timer {

    filter: invert(90%);
    width: 30px;

}

.text-oferta {

    color: rgb(240, 240, 240);
    font-size: 25px;
    margin-left: 10px;

}

.trilho {

    width: 350px;
    height: 150px;
    background-color: #4d4d4d;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    
}

.trilho .indicador {

    width: 150px;
    height: 150px;
    background-color: #000;
    border-radius: 50%;
    transform: scale(.9)
    
}
